body {
  background-color: rgb(28, 28, 28);
  color: chartreuse;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
}

.method-name {
  font-size: "18pt";
  font-weight: bold;
}

.method-effect {
  font-size: "16pt";
}

.method-output {
  font-size: "16pt";
}
